{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

{% set blog_section = get_section(path="blog/_index.md") %}
<h2>Latest Posts</h2>
{% for post in blog_section.pages %}
<ul>
  <li><a href="{{ post.permalink | safe }}">{{ post.title }}</a></li>
</ul>
{% endfor %}

{% if config.extra.list_pages %}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="titleList">
  {% for page in pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <br />
    {{ page.description }}
  </li>
  {% endfor %}
</ul>

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a
    href="{{ paginator.previous }}">
    << /a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next
      %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}

{% endif %}
{% endblock content %}
